.paticka{
   background-color: #fafafa;
   padding: 1rem;
   

   
   &__nazev{
      margin-left: $mezera-od-okraju;
      max-width: $sirka-obsahu;
		margin: auto;
   }
   &__seznam{
      list-style-type: none;
      margin-left: $mezera-od-okraju;
      padding: 0;
      max-width: $sirka-obsahu;
		margin: auto; 
   }
   &__polozka{
      line-height: 1.1;
      padding: 0.2em 0;
   }
   &__odkaz{
      text-decoration: none;
      color: black;
   }
   &__odkaz:hover{
      text-decoration: underline;
   }

   

}

@media (min-width: 528px){
   .paticka__obal{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      max-width: $sirka-obsahu;
      margin: auto;
      &__sekce{
         max-width: $sirka-obsahu;
      }
   }
}