---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"



---
<section class="filmy">
  <h1 class="filmy__nazev">{{ film.nazev }}</h1>
  <p>Rok: {{ film.rok }}</p>
  <p>Země: {{ film.zeme | join (" / ") }}</p>
  <p>Žánr: {{ film.zanr | join (" / ") }}</p>
  <p>Délka: {{ film.delka }}</p>
  <h2>Obsah</h2>
  <p>{{ film.obsah.text }}
      {# {{film.obsah.autor.jmeno}} #}
      <a href="/data/film {{ film.obsah.autor.jmeno | slug }}">{{ film.obsah.autor.jmeno }}</a>
  
  </p>



</section>