---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---
<section class="filmy">
<div class="filmy__obal">
  
  <h2 class="filmy__nazev">{{ film.nazev }}</h2>
  <dl class="detaily">
    <dt class="detaily__popis"> Rok:</dt>
    <dd class="detaily__hodnota">{{ film.rok}}</dd>
    <dt class="detaily__popis"> Země:</dt>
    <dd class="detaily__hodnota">{{ film.zeme | join (" / ") }}</dd>
    <dt class="detaily__popis"> Žánr:</dt>
    <dd class="detaily__hodnota">{{ film.zanr | join (" / ")}}</dd>
    <dt class="detaily__popis"> Délka:</dt>
    <dd class="detaily__hodnota">{{ film.delka}} minut</dd>
  </dl>

<h3>Obsah</h3>
<p>{{ film.obsah.text}}</p>
</div>



{# <img class="plakat__obrazek" src={{ film.plakat.ur l}} alt="plakat"> #}

  <section class="vedlejsi">
    <h3 class="vedlejsi__podnadpis">Související filmy</h3>
    <ul class="vedlejsi__seznam">
      {% for souvisejici in film.souvisejici %}
        <li class="vedlejsi__polozka">
          <a href="/souvisejici/ {{ souvisejici.nazev | slug }}" class="vedlejsi__odkaz">{{ souvisejici.nazev}}</a>
        </li>
      {% endfor%}
    </ul>
  </section>

</section>