---
layout: zakladni
pagination:
  data: filmy
  size: 1
  alias: film
permalink: "/film/{{ film.nazev | slug }}/"
---
<section class="filmy">
<div class="filmy__obal">
<h2>{{ film.nazev }}</h2>
<p> Rok: {{ film.rok}}</p>
<p> Země: {{ film.zeme | join (" / ") }}</p>
<p> Žánr: {{ film.zanr | join (" / ")}}</p>
<p> Délka: {{ film.delka}} minut</p>

<h3>Obsah</h3>
<p>{{ film.obsah.text}} {{film.obsah.jmeno}}</p>
</div>
</section>
